@import '../Global.scss';

.logo {
  grid-area: logo;
  justify-self: start;
  padding-left: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: pointer;
}
.logo h1 {
  font-family: $ff-title;
  font-size: 32px;
}
.logo__image {
  background-size: contain;
  background-position: center center;
  height: 80px;
}